# DATABASE
DATABASE_URL="postgresql://postgres.dblwxvorsynattsugkqz:*5%2524%24E91y1%24%23%24%249%4044%24@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.dblwxvorsynattsugkqz:*5%2524%24E91y1%24%23%24%249%4044%24@aws-1-us-west-2.pooler.supabase.com:5432/postgres"
